name: PHP Composer

on:
  push:
    branches:
      - master
      - develop
      - test-tag
  pull_request:
    branches:
      - master
      - develop
      - test-tag

jobs:
  tests_unit:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.3', '7.4', '8.0']
        phpunit-versions: ['8.5.15']
        include:
          - php-versions: '5.6'
            phpunit-versions: '5.7.27'
          - php-versions: '7.0'
            phpunit-versions: '6.5.14'

    name: Php Version ${{matrix.php-versions }} / php Unit ${{ matrix.phpunit-versions }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpunit:${{ matrix.phpunit-versions }}

      - name: php version
        run: php -v

      - name: Run test suite
        run: phpunit --bootstrap tests/config.php tests --configuration tests/phpunit.xml